{% extends 'base.html.twig' %}

{% block title %}{{article.title}} | Article Hub{% endblock %}

{% set breadcrumb = {
	"Articles": path('app_article')
} %}
{% set breadcrumb = breadcrumb|merge({(article.title|capitalize): null}) %}

{% block body %}
<style>
        .imgR {
            margin: 1rem 0;
            max-height: 30rem;
            border-radius: 1rem;
            max-width: 100%;
        }
</style>

<div class="container mt-5">
	<div class="d-flex justify-content-between">
		{% include '_components/_breadcrumb.html.twig'  %}
		<div>	
			<a href="{{path('article_export_pdf',{'id':article.id}) }}" target="_blank">
				<button type="button" class="btn btn-success btn-sm">
					<i class="fa-solid fa-file-arrow-down"></i>
					Export as pdf
				</button>
			</a>
		</div>
	</div>	
	<section>
		<div class="text-center">
			<h1>
				<strong>{{article.title|capitalize}}</strong>
			</h1>
		</div>
		<hr>
	</section>

	<section class="contentV">
		<div class="text-center">
			{% for tag in article.Tag %}
				<p class="btn btn-light btn-sm">{{tag.title}}</p>
			{% endfor %}
		</div>
		{% if article.body != null %}
			<div >{{article.body|markdown_to_html}}</div>
		{% endif %}


		<div class="text-center">
		{% if article.Image != null %}
			<img class="imgR img-fluid" src="{{article.ImageUrl|imagine_filter('squared_thumbnail_grand')}}" alt="Article Image">
		{% endif %}
			<p class="dateV">Posted on {{article.createdAt | date('F j, Y')}}</p>
		</div>
	</section>
</div>
{% endblock %}
